// Для импорта в диспетчер подключений: @import './src/blocks/form-result/form-result.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.form-result {
  margin-bottom: 11.093vw;

  @media (min-width: @screen-md) {
    margin-bottom: 71px;
  }

  &__title {
    margin: 0 0 6.562vw;
    font-size: 7.812vw;
    line-height: 120%;
    color: #fff;
    letter-spacing: 0.075em;

    @media (min-width: @screen-md) {
      font-size: 50px;
      margin-bottom: 42px;
    }
  }

  .field-text + .btn {
    margin-top: 1.562vw;

    @media (min-width: @screen-md) {
      margin-top: 10px;
    }
  }
}
