// Для импорта в диспетчер подключений: @import './src/blocks/features-mini/features-mini.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.features-mini {


  &__item {
    margin-bottom: 16px;

    img {
      margin-bottom: 17px;
    }

    b {
      font-size: 13px;
      line-height: 120%;
      color: #fff;
      letter-spacing: 0.1em;
      display: block;
      font-weight: 400;
    }

    p {
      margin: 0;
      font-size: 9px;
      line-height: 120%;
      letter-spacing: 0.22em;
      color: #00044c;
    }
  }
}
