// Для импорта в диспетчер подключений: @import './src/blocks/features-mini/features-mini.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.features-mini {


  &__item {
    margin-bottom: 8.437vw;

    @media (min-width: @screen-md) {
      margin-bottom: 54px;
    }

    img {
      margin-bottom: 5.312vw;

      @media (min-width: @screen-md) {
        margin-bottom: 34px;
      }
    }

    b {
      font-size: 7.812vw;
      line-height: 120%;
      color: #0044cc;
      letter-spacing: 0.1em;
      display: block;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 4.062vw;

      @media (min-width: @screen-md) {
        font-size: 50px;
        margin-bottom: 26px;
      }
    }

    p {
      margin: 0;
      font-size: 5.468vw;
      line-height: 1.286;
      letter-spacing: 0.22em;
      color: #fff;

      @media (min-width: @screen-md) {
        font-size: 35px;
      }
    }
  }

  &__item-img-1 {
    width: 25.625vw;

    @media (min-width: @screen-md) {
      width: 164px;
    }
  }

  &__item-img-2 {
    width: 17.812vw;

    @media (min-width: @screen-md) {
      width: 114px;
    }
  }
}
