// Для импорта в диспетчер подключений: @import './src/blocks/price/price.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.price {
  padding-top: 14px;
  margin-bottom: 22px;

  &__line {
    display: flex;
  }

  &__num-wrapper {
    padding-left: 7px;
    text-align: left;
  }

  &__num-line-wrapper {
    font-size: 45px;
    line-height: 120%;
    color: #fa645a;
    width: 208px;

    strong {
      font-weight: 400;
    }
  }

  &__descr {
    font-size: 8px;
    line-height: 10px;
    color: #212121;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: left;
  }

  &__size-demo {
    height: 88px;
    flex-grow: 1;
    margin-top: 5px;
    position: relative;
    background: url(../img/girl.png) 0 0 no-repeat;
  }

  &__size {
    background-color: #fff;
    position: absolute;
    top: 16px;
    left: 69px;
    transform: translate(-50%, -50%);
  }

  &__sizes-item {
    display: block;
    text-align: left;
    height: 34px;
    width: 100%;
    line-height: 38px;
    background-color: #fff;
    margin-bottom: 1px;
    padding-left: 21px;
    letter-spacing: 0.29em;
    color: #0044cc;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);

    &--active {
      background-color: #0044cc;
      color: #fff;
    }
  }

  &__sizes-columns {
    display: flex;
    padding-top: 2px;
  }

  &__sizes-column {
    width: 50%;

    &:first-child {
      padding-right: 1px;
    }
  }
}
