@import '../../less/variables.less';     // только для удобства обращения к переменным


.btn {
  .btn();

  &--red {
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    background-color: #F06256;
    border-top: 0;
    border-left: 1px solid #DA5A4F;
    border-right: 1px solid #DA5A4F;
    border-bottom: 4px solid #DA5A4F;
    border-radius: 0;
    height: 35px;
    padding: 0 31px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }


  // background-color: @color-success;
  // border: 1px solid #FBC5FF;
  // border-radius: 17px;
  // padding: 3px 26px 0;
  // height: 39px;
  // line-height: 1em;
  // color: #fff;
  // letter-spacing: 0.1em;

  // &--large {
  //   height: 50px;
  //   border-radius: 19px;
  // }

  // &--rect {
  //   min-width: 204px;
  //   height: 32px;
  //   line-height: 28px;
  //   text-transform: uppercase;
  //   border-radius: 0;
  //   letter-spacing: 0.1em;
  // }

  // &--blue {
  //   min-width: 204px;
  //   height: 36px;
  //   text-transform: uppercase;
  //   border-radius: 0;
  //   letter-spacing: 0.1em;
  //   padding-left: 46px;
  //   padding-right: 46px;
  //   background-color: #475CFF;
  //   border-radius: 2px;
  //   border: 0;
  //   box-shadow: -2px 2px 6px rgba(0,0,0,0.35);
  // }

  // &--blue-border {
  //   height: 27px;
  //   width: auto;
  //   background-color: transparent;
  //   border: 3px solid #475CFF;
  //   text-transform: uppercase;
  //   letter-spacing: 0.29em;
  //   padding-left: 9px;
  //   padding-right: 9px;
  // }

  // &--sq {
  //   background-color: #4BC19F;
  //   border-color: #BBDDEC;
  //   border-radius: 3px;
  // }
}

