@import '../../less/variables.less';     // только для удобства обращения к переменным


.btn {
  .btn();
  padding: 7.5vw 3.906vw 6.406vw;
  border: 0;
  font-size: 4.062vw;
  line-height: 1.192;
  letter-spacing: 0.14em;
  color: #fff;
  text-transform: uppercase;
  background-color: #00e676;
  border-radius: 0.625vw;
  box-shadow: 0 0.937vw 0 0.312vw #4BC19F;

  @media (min-width: @screen-md) {
    font-size: 26px;
    padding: 48px 25px 41px;
    border-radius: 4px;
    box-shadow: 0 6px 0 2px #4BC19F;
  }

  &--secondary {
    background-color: #fa645a;
    box-shadow: 0 0.937vw 0 0.312vw #F43300;

    @media (min-width: @screen-md) {
      box-shadow: 0 6px 0 2px #F43300;
    }
  }
}

