@import '../../less/variables.less';     // только для удобства обращения к переменным


.field-text {
  display: block;
  margin: auto;
  margin-bottom: 17px;
  text-align: center;
  text-transform: uppercase;

  &__name {
    display: block;
    margin-bottom: 4px;
    line-height: @line-height;
    color: #212121;
    font-size: 8px;
    letter-spacing: 0.075em;
  }

  &__input-wrap {
    width: 74%;
    margin-left: auto;
    margin-right: auto;
  }

  &__input {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 0.075em;

    textarea& {
      min-height: (@line-height * 2) + @field-padding-top + @field-padding-bottom + .2; // .2 — поправка на бордюр
    }
  }

  &__help-text {
    .help-text();
  }
}
