// Для импорта в диспетчер подключений: @import './src/blocks/mini-promo/mini-promo.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.mini-promo {
  text-transform: uppercase;
  font-size: 4.062vw;
  line-height: 2.154;
  color: #00044c;
  letter-spacing: 0.18em;
  padding-top: 4.218vw;
  margin-bottom: 3.75vw;
  max-width: @screen-md;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @screen-md) {
    font-size: 26px;
    padding-top: 27px;
    margin-bottom: 24px;
  }

  &__delir-1,
  &__delir-2,
  &__delir-3,
  &__delir-4 {
    font-size: 5.468vw;
    line-height: 1.743;

    @media (min-width: @screen-md) {
      font-size: 35px;
    }
  }

   &__delir-1 {
    color: #de00ff;
   }

   &__delir-2 {
    color: #8400ff;
   }

   &__delir-3 {
    color: #df387f;
   }

   &__delir-4 {
    color: #bd009c;
   }

  &__delir-5 {
    display: block;
    padding-top: 0.625vw;

    @media (min-width: @screen-md) {
      padding-top: 4px;
    }
  }
}
