// Для импорта в диспетчер подключений: @import './src/blocks/mini-promo/mini-promo.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.mini-promo {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  color: #00044c;
  letter-spacing: 0.04em;
  padding-top: 8px;
  margin-bottom: 20px;

  &__delir-1,
  &__delir-2,
  &__delir-3,
  &__delir-4 {
    font-size: 15px;
  }

   &__delir-1 {
    color: #de00ff;
   }

   &__delir-2 {
    color: #8400ff;
   }

   &__delir-3 {
    color: #df387f;
   }

   &__delir-4 {
    color: #bd009c;
   }

  &__delir-5 {
    display: block;
    padding-top: 4px;
  }
}
