// Для импорта в диспетчер подключений: @import './src/blocks/features/features.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.features {
  position: relative;
  background: url(../img/features-bg.jpg) 100% 17.968vw no-repeat;
  background-size: 100vw auto;

  @media (min-width: @screen-md) {
    background-position: 100% 115px;
    background-size: 640px auto;
  }

  &__item {
    margin-bottom: 35.312vw;
    position: relative;

    @media (min-width: @screen-md) {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 226px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    b {
      display: block;
      font-size: 7.812vw;
      line-height: 120%;
      color: #0044cc;
      letter-spacing: 0.1em;
      font-weight: 400;
      padding: 0 12.5vw;
      text-transform: uppercase;
      margin: 0 auto 5.625vw;
      max-width: 640px;


      @media (min-width: @screen-md) {
        font-size: 50px;
        padding: 0 80px;
        margin-bottom: 36px;
      }
    }

    p {
      margin: 0;
      font-size: 5.312vw;
      line-height: 1.471em;
      color: #00044c;
      letter-spacing: 0.22em;

      @media (min-width: @screen-md) {
        font-size: 34px;
      }
    }

    &--first {
      padding-top: 56.562vw;

      @media (min-width: @screen-md) {
        padding-top: 362px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 2.812vw;
        left: 50%;
        transform: translateX(-50%);
        background: url(../img/top-pict.svg) 0 0 no-repeat;
        width: 20.937vw;
        height: 46.562vw;
        background-size: 20.937vw 46.562vw;

        @media (min-width: @screen-md) {
          top: 18px;
          width: 134px;
          height: 298px;
          background-size: 134px 298px;
        }
      }
    }

    &--girl {
      margin-top: -10.625vw;
      padding-bottom: 35.937vw;

      @media (min-width: @screen-md) {
        margin-top: -68px;
        padding-bottom: 230px;
      }

      b {
        color: #2ac1a0;
        position: relative;
        background: url(../img/stars.png) 50% 0 no-repeat;
        background-size: 48.281vw auto;
        padding: 30vw 1.562vw 2.5vw !important;

        @media (min-width: @screen-md) {
          background-size: 309px auto;
          padding: 192px 10px 16px !important;
        }
      }

      p {
        color: #fff;
        margin-bottom: 54px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}
